body {
  font-family: Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: 'Braille29';
  src: url('/fonts/Braille29.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Braille36';
  src: url('/fonts/Braille36US.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.braille29 {
  font-family: Braille29, sans-serif;
  padding-block: 2em;
}

.braille36 {
  font-family: Braille36, sans-serif;
  padding-block: 2em;
}

h2 {
  padding: 0;
  margin-bottom: 0em;
}

img {
  width: 30%;
}
